<div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <h2>Flight Ticket App</h2>
      </div>
      <div class="col-ml-auto text-right">
        <button type="button" class="btn btn-outline-success" (click)="onTicSubmit()">Add user</button>
        
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body"></div>
                    <h5 class="card-title">Sneha</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Singh</h6>
            </div>
        </div>
    </div>
  </div>
